@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Serif:wght@600&display=swap');

:root{
    --color-texto:rgb(0, 59, 74);
    --texto-blanco:rgb(255, 255, 255);
    --contraste-lila:rgb(191, 12, 240);
    --contraste-lila-claro:rgb(229, 225, 254);
    --fondo-body:rgb(247, 247, 247);
    --texto-gris:rgb(158, 157, 171);
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Noto Serif', serif;
*/

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    width: 100vw;
    padding: 20px 10px;
    /* background-color: brown; */
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

header img{
    height: 50px;
}


.header__nav{
    width: max-content;
    /* background-color: aquamarine; */
    margin-right: 20px;
}

.nav__ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    justify-content: space-between;
    align-items: center;

}

.nav__ul__li{
    /* background-color: antiquewhite; */
    text-decoration: none;
    text-transform: uppercase;
}

.nav__a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--color-texto);
}

.nav__a:hover{
    color: var(--contraste-lila);
}

.hero__container{
    background-image: url(../img/hero-image-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -220px;
    height: 500px;
    display: flex;
    align-items: center;
}

h1{
    color: var(--color-texto);
}

.hero__container h1{
    font-family: 'Lato', sans-serif;
    width: 350px;
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: 900;
}

main{
    color: var(--color-texto);
}

.main__container{
    padding: 20px;
    background-color: var(--fondo-body);
}

input{
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid var(--contraste-lila-claro);
    border-radius: 5px;
}


form p a{
    color: var(--contraste-lila);
    text-decoration:none;
    padding: 2px 0;
    border-bottom: 1px dotted var(--contraste-lila);
}

label{
    background-color: aqua;
}

input[type="checkbox"]{
    background-color: aqua;
}

button{
    background-color: var(--color-texto);
    color: var(--texto-blanco);
}

button:hover{
    background-color: var(--contraste-lila-claro);
}

.form__button{
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0 40px 0;
    text-transform: uppercase;
}

article a{
    background-color: var(--color-texto);
    color: var(--texto-blanco);
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
}

article a:hover{
    background-color: var(--contraste-lila-claro);
}

p{
    font-size: 1rem;
}

label{
    display: block;
}

section{
    background-color: var(--contraste-lila-claro);
    width: 100vw;
}


figure img{
    width: 100%;
    margin-top: 30px;
}

figcaption{
    text-align: right;
    font-size: .8rem;
}

h3{
    font-size: 1.5rem;
}

.article__text{
    background-color: aqua;
    margin: 0 10px 0 30px;
    width: 87%;
    /* padding: 0  20px 0 40px; */
}

.article__text p{
    margin-bottom: 30px;
}

.article__text a{
    margin: 20px 0;
    text-transform: uppercase;
}

/* BLOG CSS*/

.main__container h1{
    font-size: 2.2rem;
}

.article__blog{
    background-color: aqua;
    margin-bottom: 20px;
    position: relative;
    height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.article__blog figure{
    width: 100%;
    background-color: blueviolet;
    margin: 0;
}

.article__blog figcaption{
    background-color: var(--texto-blanco);
    padding: 2px 4px;
    position: absolute;
    top: 46%;
    right: 2%;
}


.category__span{
    position: absolute;
    top: 50px;
    left: 5px;
}

.category__span a{
    padding: 7px;
    border-radius: 0;
}

.article__blog img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grey__text{
    color: var(--texto-gris);
    font-size: .8rem;
}

.article__blog h2 a{
    background-color: initial;
    color:var(--color-texto);
    font-size: 1.5rem;
}

.article__text .read__more{
    background-color: initial;
    color: var(--contraste-lila);
    text-transform:initial;
    border-bottom: 1px dotted var(--contraste-lila);
    padding-bottom: 2px;
    border-radius: 0;
    font-size: 1rem;
    margin-bottom: 20px;
}

.button__page{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button__box{
    padding: 8px;
    background-color: var(--texto-blanco);
    border: 1px solid var(--color-texto);
}

.button__box a{
    text-decoration: none;
    color: var(--color-texto);
}

.selected{
    background-color: var(--contraste-lila);
    border: none;
}

.selected a {
    color: var(--texto-blanco);
}

/*---------------------------------------------------------*/

footer{
    margin-top: 80px;
    width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-texto);
    color: var(--texto-blanco);
}

footer ul{
    list-style: none;
}

.redes__sociales{
    display: flex;
    gap: 10px;
}

.footer__politicas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--texto-blanco);
}

.svg__img{
    color: var(--texto-blanco);
    fill: var(--texto-blanco);
}

/*DISPOSITIVOS MEDIANOS*/
@media screen and (min-width: 480px) and (max-width:768px){
    body{
        background-color: aqua;
    }
}

/*DISPOSITIVOS DESKTOP*/
@media screen and (min-width: 769px) and (max-width:1024px){
    
}