@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Serif:wght@600&display=swap');

:root{
    --color-texto:rgb(0, 59, 74);
    --texto-blanco:rgb(255, 255, 255);
    --contraste-lila:rgb(191, 12, 240);
    --contraste-lila-claro:rgb(229, 225, 254);
    --fondo-body:rgb(247, 247, 247);
    --texto-gris:rgb(158, 157, 171);
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Noto Serif', serif;
*/

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

header{
    width: 100vw;
    padding: 20px 2px;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 50px;
}



.header__nav{
    width: max-content;
    margin-right: 20px;
}

.nav__ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    justify-content: space-between;
    align-items: flex-end;

}

.nav__ul__li{
    /* background-color: antiquewhite; */
    text-decoration: none;
    text-transform: uppercase;
}

.nav__a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--color-texto);
}

.nav__a:hover{
    color: var(--contraste-lila);
}

.hero__container{
    background-image: url(../img/hero-image-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -220px;
    height: 500px;
    display: flex;
    align-items: center;
}

h1{
    color: var(--color-texto);
}

.hero__container h1{
    font-family: 'Lato', sans-serif;
    width: 350px;
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: 900;
}

main{
    color: var(--color-texto);
    margin: 0;
}

.main__container{
    padding: 20px;
    margin-bottom: 0;
    background-color: var(--fondo-body);
}

.main__container h2{
    font-size: 2rem;
}

input{
    width: 90%;
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid var(--contraste-lila-claro);
    border-radius: 5px;
}

form p{
    font-size: .8rem;
}

form p a{
    color: var(--contraste-lila);
    text-decoration:none;
    padding: 2px 0;
    border-bottom: 1px dotted var(--contraste-lila);
}

.check{
    position: relative;
    width: max-content;
    height: 50px;
    padding-left: 20px;
    font-size: .8rem;
}


input[type="checkbox"]{
    position: absolute;
    top: 2px;
    left: -105px;
    margin: 0;
}

button{
    background-color: var(--color-texto);
    color: var(--texto-blanco);
}

button:hover{
    background-color: var(--contraste-lila-claro);
}

.form__button{
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0 40px 0;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

article a{
    background-color: var(--color-texto);
    color: var(--texto-blanco);
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
}

article a:hover{
    background-color: var(--contraste-lila-claro);
}

p{
    font-size: .9rem;
}

label{
    display: block;
}

section{
    background-color: var(--contraste-lila-claro);
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 80px;
}


figure img{
    width: 100%;
    /* margin-top: 30px; */
}

figcaption{
    text-align: right;
    font-size: .7rem;
}

h3{
    margin-top: 0;
    font-size: 1.4rem;
}

.article__text{
    margin: 0 10px 0 30px;
    width: 87%;
    padding-bottom: 20px;
    /* padding: 0  20px 0 40px; */
}

.article__text p{
    margin-bottom: 30px;
}

.article__text a{
    margin: 20px 0;
    text-transform: uppercase;
}

/* BLOG CSS*/

.main__container h1{
    font-size: 2.2rem;
}

.article__blog{
    /* background-color: aqua; */
    margin-bottom: 20px;
    position: relative;
    height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.article__blog figure{
    width: 100%;
    /* background-color: blueviolet; */
    margin: 0;
}


.article__blog figcaption{
    background-color: var(--texto-blanco);
    padding: 2px 4px;
    position: absolute;
    top: 36%;
    right: 2%;
}


.category__span{
    position: absolute;
    top: 3%;
    left: 3%;
}

.category__span a{
    padding: 7px;
    border-radius: 0;
    color:var(--texto-blanco);
}

.category__span a:hover{
    background-color: var(--contraste-lila);
}

.article__container{
    display: grid;
    grid-template-columns: 1fr;
}

.article__blog img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article__text .grey__text{
    color: var(--texto-gris);
    font-size: .8rem;
    margin: 10px;
}

.article__blog h2{
    margin-top: 0;
}

.article__blog h2 a{
    background-color: initial;
    color:var(--color-texto);
    font-size: 1.5rem;
    text-transform: initial;
    padding-left: 0;
}

.article__blog h2 a:hover{
    color: var(--contraste-lila);
}

.article__text .read__more{
    background-color: initial;
    color: var(--contraste-lila);
    text-transform:initial;
    border-bottom: 1px dotted var(--contraste-lila);
    padding-bottom: 2px;
    padding-left: 0;
    border-radius: 0;
    font-size: 1rem;
    margin-bottom: 20px;
}


.article__text .read__more:hover{
    color: var(--color-texto);
    border-bottom: 1px dotted var(--color-texto);
}

.button__page{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button__box{
    padding: 8px;
    cursor: pointer;
    background-color: var(--texto-blanco);
    border: 1px solid var(--color-texto);
}

.button__box a{
    text-decoration: none;
    color: var(--color-texto);
}

.button__box:hover{
    background-color: var(--contraste-lila);
    border: 1px solid var(--contraste-lila);
    color: var(--texto-blanco);
}

.button__box a:hover{
    color: var(--texto-blanco);
}

.selected{
    background-color: var(--contraste-lila);
    border: 1px solid var(--contraste-lila);
}

.selected a {
    color: var(--texto-blanco);
}

/*---------------------------------------------------------*/

/* ENTRADAS CSS*/



.links a{
    color: var(--color-texto);
    text-decoration: none;
}

.principal__img{
    background-color: var(--contraste-lila-claro);
    width: 95%;
    margin: 10px auto;
    padding-bottom: 5px;
}

.principal__img h1{
    font-size: 2.5rem;
    margin-left: 3%;
}

.principal__img p{
    color: var(--texto-gris);
    font-size: .9rem;
    margin-left: 3%;
}

.principal__img img{
    width: 100%;
}

.blue__text{
    color: var(--color-texto);
}

.main__info{
    background-color: var(--texto-blanco);
    padding: 10px;
}

.main__description{
    width: 94%;
    font-size: 1.4rem;
    margin-left: 1rem;
}

.main__info section{
    background-color: initial;
    width: 98%;
    margin-left: .2rem;
}

.main__info section h2{
    width: 80%;
    font-size: 1.8rem;
}

.main__info section h2 a{
    color:var(--color-texto);
    border: none;
}

.main__info section h2 a:hover{
    color: var(--contraste-lila);
    border: none;
}

.main__info section p{
    font-size: .9rem;
}

.main__info a{
    color: var(--contraste-lila);
    text-decoration: none;
    border-bottom: 1px dotted var(--contraste-lila);
}

.main__info ol{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 88%;
}

.bold{
    font-weight: 700;
}

.main__info section .motivacion__texto{
    width: 90%;
    font-size: 1.8rem;
}

.main__info ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.italic{
    font-style: italic;
}

blockquote{
    width: 90%;
    margin-left: 0;
    padding: 10px 20px;
    border-left: 4px solid var(--contraste-lila);
}

.description{
    font-size: .8rem;
}

.button__categories{
    /* background-color: bisque; */
    display: flex;
    gap: 10px;
}

.button__category{
    background-color: var(--texto-blanco);
    padding: 7px 4px;
    width: max-content;
    border: 1px solid var(--color-texto);
}

.button__category:hover{
    background-color: var(--contraste-lila);
    border: 1px solid var(--contraste-lila);
}

.button__category a{
    color: var(--color-texto);
    text-decoration: none;
    font-size: .9rem;
}

.button__category a:hover{
    color: var(--texto-blanco);
}

/*---------------------------------------------------------*/

/* VIDEOS CSS*/

iframe{
    width: 100%;
    height: 200px;
}

/*---------------------------------------------------------*/



footer{
    width: 100%;
    padding: 20px 10px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-texto);
    color: var(--texto-blanco);
}

footer ul{
    list-style: none;
}

.redes__sociales{
    display: flex;
    gap: 10px;
}

.redes__sociales img{
    width: 25spx;
}

.redes__sociales img:hover{
    opacity: 0.7;
}

.footer__politicas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}


footer a{
    text-decoration: none;
    color: var(--texto-blanco);
}

footer a:hover{
    color: var(--contraste-lila-claro);
}

#svg__img{
    width: 100px;
}



/*DISPOSITIVOS MEDIANOS*/
@media screen and (min-width: 480px){
    body{
        /* background-color: aqua; */
    }

    .hero__container{
        background-position: -80px;
    }

    .hero__container h1{
        width: 500px;
    }

    input{
        max-width: 800px;
    }

    form p{
        max-width: 650px;
    }
    
    article{
        display: flex;
        align-items: center;
        /* background-color: bisque; */
        width: 95vw;
        margin: 0 auto;
    }

    article:nth-child(even){
        flex-direction: row-reverse;
    }
    
    figure img{
        width: 250px;
    }

    .left__rotated{
        transform: rotate(-10deg);
        text-align: right;
    }

    .article__text{
        margin: 0;
    }

    .right__rotated{
        transform: rotate(10deg);
        text-align:center;
    }

    .article__container{
        /* background-color: aqua; */
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .article__blog{
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
    }

    .article__blog:nth-child(even){
        flex-direction: column;
    }

}

/*DISPOSITIVOS DESKTOP*/
@media screen and (min-width: 769px){
    body{
        /* background-color: aqua; */
    }

    .hero__container{
        background-color: azure;
        background-position: 0 -200px;
    }

    .hero__container img{
        height: auto;
    }

    .hero__container h1{
        /* background-color: aqua; */
        width: 30%;
        margin-left: 22%;
    }

    .main__container{
        width: 80vw;
        display: flex;
        margin: 0 auto;
        gap: 20px;
    }

    .blog__container{
        flex-direction: column;
        width: 95%;
    }

    .blog__container .article__text{
        width: 90%;
    }

    .blog__container .article__blog img{
        width: 100%;
    }

    .flex__container{
        width: 50%;
    }

    form{
        padding-top: 40px;
    }

    article{
        width: 90%;
        height: 100%;
    }

    .article__container{
        /* background-color: brown; */
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: 650px 560px;
    }

    .first__article{
        grid-column: 1/3;
    }

    .article__blog{
        /* background-color: bisque; */
    }

    .article__blog img{
        width: 90%;
    }

    .article__text{
        width: 50vw;
    }

    footer{
        grid-template-columns: 1fr 1fr;
    }

    .footer__politicas{
        display: flex;
        flex-direction: row;
    }

    .center__div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
}